.App{
    height: 100vh;
    padding: 0px 100px;
    display:flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.books{
    display: flex;
    
}

.book{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
}

img{
    width: 200px;
    height: 300px;
    object-fit: cover;
    background-color: beige;

}

.delete{
    border: none;
    padding: 3px 6px;
    background-color: white;
    cursor: pointer;
    border: 1px solid rgb(245,291,191);
    color: rgb(242,100,100);
}

.update{
    border: none;
    padding: 3px 6px;
    background-color: white;
    cursor: pointer;
    border: 1px solid rgb(204,204,243);
    color: rgba(139, 112, 139, 0.911);
}

.form{
    display:flex;
    flex-direction: column;
    gap: 20px;

}

input{
    width: 250px;
    padding: 10px;
    border: 1px solid gray}


.formButton{
    border: none;
    padding: 10px;
    background-color: lightblue;
    color: aliceblue;
    font-weight: bold;
    cursor: pointer;
}